@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-3rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}



.home-slide-down{
animation: slide-down 300ms ease-out forwards;
}

.home-contact{
padding: 4rem;
margin: auto;
width: 60%;
background-color: #200043;
position: relative;
animation: slide-down 300ms ease-out forwards;

}

.home-contact-form{
    margin-top: 2rem;
}

.home-contact-form input{
    width: 23rem;
    height: 0.7rem;
    padding: 1.3rem;
    border-radius: 8px;
    display: block;
    margin: 1.4rem 0;
    border: 0;
}

#home-contact-arrow{
    position: absolute;
    top: 20%;
    left: -5%;
    background-color: #ffffff;
    width: 2rem;
    height: 1.8rem;
    border-radius: 50%;
    font-size: 2rem;
    padding: 1rem;
    cursor: pointer;
}

.home-contact textarea{
    height: 6rem;
    margin-top: 2rem;
    width: 23rem;
    padding: 1.3rem;
    border-radius: 8px;
}

#contact-overlay-btn{
    width: 30%;
    margin-top: 2rem;
    text-transform: uppercase;
}