body {
  background: -webkit-linear-gradient(#1C003C, #180036);
  background: -moz-linear-gradient(#1C003C, #180036);
  background: linear-gradient(#1C003C, #180036);
  color: #fff;
}



a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

h1 {
  margin: 0;
  padding: 0;
}


.header {
  display: grid;
  grid-template-columns: 40% 60%;
}

.header-nav {
  display: flex;
}

.logo {
  margin: 2rem;
  font-size: 1.4rem;
}

.navigation {
  display: flex;
  flex-direction: row;
  margin-left: 17rem;
}

.header-li {
  padding-top: .5rem;
}

.navigation li {
  margin: 1.5rem;
  list-style: none;
  font-size: 0.7rem;
}

.header-contact-btn {
  background-color: #271AC1;
  padding: .8rem 1.7rem;
  cursor: pointer;
  border-radius: 2rem;
  width: 5rem;
  text-align: center;

}



.general-btn {
  background-color: #7C0FD5;
  padding: 1rem;
  border: 0;
  color: white;
  border-radius: 2rem;
  text-transform: uppercase;
  text-align: center;
}


.footer {
  margin-top: 10rem;
  text-align: center;
  position: relative;
  z-index: 100;
}

.footer-icons i {
  font-size: 1.15rem;
  margin: 1rem;
  color: rgba(255, 255, 255, 0.4);

}

.footer-small {
  margin: 1rem 0 2rem;
  font-weight: 200;
}

.footer-small small {
  margin: 1.5rem
}

.footer p {
  font-weight: 100;
}

.menu-icon {
  margin-top: 2rem;
  font-size: 2rem;
  display: block;
  position: absolute;
  right: 15%;
}

.show-menu.icon {
  display: block;
}

.show-menu {
  display: block;
}

.hide-menu {
  display: none;

}

.responsive-nav {
  position: absolute;
  top: 1%;
  height: 100%;
  width: 100%;

  z-index: 999;
  background-color: #180036;
  animation: slide-right 900ms ease-out forwards;
}

.responsive-nav li {
  margin: 40%;
  font-size: 0.8rem;
  font-weight: 300;
}

.nav-cancel{
  position: absolute;
  top: 1%;
/* right: -4%; */
left: 80%;
font-size: 3rem;

}

@keyframes slide-right {
  from {
    opacity: 0;
    transform: translateX(-3rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}