body {
  background: -webkit-linear-gradient(#1C003C, #180036);
  background: -moz-linear-gradient(#1C003C, #180036);
  background: linear-gradient(#1C003C, #180036);
  color: #fff;
}



a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}

li{
  list-style: none;
}

h1{
  margin: 0;
  padding: 0;
}


.header{
  display: grid;
  grid-template-columns: 40% 60%;
}

.logo{
margin: 2rem;
font-size: 1.4rem;
}

.navigation{
  display: flex;
  flex-direction: row;
  margin-left: 17rem;
}

.header-li{
  padding-top: .5rem;
}

.navigation li{
  margin: 1.5rem;
  list-style: none;
  font-size: 0.7rem;
}

.header-contact-btn{
  background-color:#271AC1;
  padding: .8rem 1.7rem;

  border-radius: 2rem;

}



.general-btn{
  background-color: #7C0FD5;
  padding: 1rem;
  border: 0;
  color: white;
  border-radius: 2rem;
  text-transform: uppercase;
  text-align: center;
}


.footer{
  margin-top: 4rem;
  text-align: center;
}

.footer-icons i{
  font-size: 1.15rem;
  margin: 1rem;
  color: rgba(255, 255, 255, 0.4);

}

.footer-small{
  margin:1rem 0 2rem ;
  font-weight: 200;
}
.footer-small small{
  margin: 1.5rem
}

.footer p{
  font-weight: 100;
}